@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 60%;
  }
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 58%;
  }
}
@media only screen and (max-width: 50em) {
  html {
    font-size: 54%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 52%;
  }
}
body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}
.container {
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(-webkit-min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];
  grid-template-rows: 9rem -webkit-min-content 48rem -webkit-min-content -webkit-min-content -webkit-min-content 6.4rem;
  grid-template-rows: 9rem min-content 48rem min-content min-content min-content min-content min-content 6.4rem;
}
@media only screen and (max-width: 37.5em) {
  .container {
    grid-template-rows: 9rem -webkit-min-content 85rem -webkit-min-content -webkit-min-content -webkit-min-content 6.4rem;
    grid-template-rows: 9rem min-content 85rem min-content min-content min-content min-content min-content 6.4rem;
  }
}
.mb-small {
  margin-bottom: 2rem;
}
.mb-medium {
  margin-bottom: 4rem;
}
:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
}
.header {
  position: sticky;
  top: 0;
  z-index: 999;
  grid-column: full-start / full-end;
  background: #1e1e1e;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(-webkit-min-content, 14.5rem) [col-end]
    )
    [center-end] 1fr [full-end];
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14.5rem) [col-end]
    )
    [center-end] 1fr [full-end];
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__wrapper {
  grid-column: center-start / center-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo {
  padding: 0.5rem 2rem;
}
@media only screen and (max-width: 62.5em) {
  .header__nav {
    display: none;
  }
}
.header__nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  color: rgba(180, 153, 96, 0.9);
}
.header__nav > ul > li {
  margin-right: 4rem;
  font-weight: 500;
  transition: transform 0.3s ease-in-out;
}
.header__nav > ul > li:hover:not(.languages) {
  transform: scale(0.9);
  transition: transform 0.2s ease-in-out;
}
.header__nav > ul > li > a {
  color: inherit;
  text-decoration: none;
}

.header__nav > ul > li > a > img:hover {
  opacity: 0.5;
}
.hero {
  grid-column: full-start / full-end;
  position: relative;
}
@keyframes animateHero {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.header__nav {
  animation: 0.9s animateHero;
}
.hero__img {
  width: 100%;
  animation: 0.7s animateHero;
}
@media only screen and (max-width: 50em) {
  .hero__img {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
  }
}
.menu-wrap {
  position: fixed;
  top: 10px;
  right: 7vw;
  z-index: 1;
}
@media only screen and (min-width: 62.5em) {
  .menu-wrap {
    display: none;
  }
}
@media only screen and (max-width: 62.5em) {
  .menu-wrap {
    right: 9vw;
  }
}
@media only screen and (max-width: 50em) {
  .menu-wrap {
    right: 11vw;
  }
}
@media only screen and (max-width: 37.5em) {
  .menu-wrap {
    right: 19vw;
  }
}
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.menu-wrap .hamburger > div {
  position: relative;
  width: 80%;
  height: 2px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
.menu-wrap .hamburger > div:after {
  top: 10px;
}
.menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.menu-wrap .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu:target {
  display: none;
}
.menu-wrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
}
.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 0.8;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.menu-wrap .menu > div {
  background: rgba(0, 0, 0, 0.95);
  border-radius: 50%;
  width: 300vw;
  height: 300vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  margin-top: -5rem;
}
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: rgba(180, 153, 96, 0.99);
  font-size: 2.5rem;
  padding: 2.4rem;
  font-weight: 600;
}
.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
.ham-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.about {
  grid-column: full-start / full-end;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgba(180, 153, 96, 0.99);
  animation: 2s slideup;
}
.about > div {
  width: 53.5%;
  text-align: center;
  margin-top: 0.1rem;
}
@media only screen and (max-width: 37.5em) {
  .about > div {
    width: 75%;
    margin-top: -1rem;
  }
}
.about__header {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.9rem;
  margin-bottom: 2.7rem;
}
.about__text {
  color: rgba(180, 153, 96, 0.99);
  font-size: 2.2rem;
  line-height: 130%;
  font-weight: 400;
}
.gallery {
  grid-column: full-start / full-end;
  background-color: rgba(180, 153, 96, 0.05);
}
.gallery__header {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.9rem;
  color: rgba(180, 153, 96, 0.99);
  padding-top: 9.2rem;
  text-align: center;
  margin-bottom: 6.8rem;
}
.gallery__container {
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(-webkit-min-content, 15rem) [col-end]
    )
    [center-end] 1fr [full-end];
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 15rem) [col-end]
    )
    [center-end] 1fr [full-end];
  margin-bottom: 2rem;
}
.gallery__photos {
  grid-column: center-start / center-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 0.5vw;
}
.gallery__photos > div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 280px;
  padding: 0.6rem;
}
.gallery__photos > div img {
  width: 100%;
  height: auto;
  padding: 0.3vw;
}
@media only screen and (max-width: 37.5em) {
  .gallery__photos > div img {
    width: 90%;
    margin: 0 5% 3% 5%;
    padding: 0;
  }
}
.more_photos {
  grid-column: full-start / full-end;
  background-color: rgba(180, 153, 96, 0.05);
}
.button_more_wrap {
  grid-column: center-start / center-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.button_more_btn {
  font-size: 1.1em;
  color: #fff;
  border-radius: 3px;
  border: none;
  text-align: center;
  display: inline-block;
  -webkit-appearance: none;
  padding: 0.7rem 1.9rem;
  background-color: #b3995f;
  margin-bottom: 5rem;
}
#seeMorePhotos {
  display: none;
}
.contact {
  grid-column: full-start / full-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.contact__box {
  width: 60%;
  color: #b3995f;
  margin-top: 3rem;
}
.contact__box * {
  line-height: 130%;
  font-size: 2rem;
}
@media only screen and (min-width: 62.5em) {
  .contact__box * {
    line-height: 150%;
    font-size: 1.7rem;
  }
}
.contact__box--header {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.9rem;
  margin-bottom: 4rem;
}
.contact__box--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly; */
  justify-content: space-evenly;
}
.contact__box--info > div {
  width: 33%;
}
@media only screen and (max-width: 62.5em) {
  .contact__box--info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto;
  }
  .contact__box--info > div {
    width: 100%;
  }
}
.contact__box--map {
  margin-top: 4rem;
}
.contact__box .first-line {
  font-size: 1.6rem;
}
.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .map {
    margin: 0;
  }
}
.mapouter {
  position: relative;
  text-align: right;
  height: 210px;
  width: 771px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 210px;
  width: 100%;
}
@media only screen and (max-width: 62.5em) {
  .gmap_canvas {
    width: 100%;
  }
}
@media only screen and (max-width: 50em) {
  .gmap_canvas {
    width: 65vw;
  }
}
@media only screen and (max-width: 37.5em) {
  .gmap_canvas {
    width: 96.5vw;
  }
}
.footer {
  grid-column: full-start / full-end;
  background-color: #1e1e1e;
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(-webkit-min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];
  -ms-flex-line-pack: center;
  align-content: center;
}
.footer__logo {
  grid-column: center-start / col-start 1;
  width: 10.3rem;
  margin-left: -3rem;
}
@media only screen and (max-width: 75em) {
  .footer__logo {
    margin-left: 3rem;
  }
}
.footer__socials {
  grid-column: col-start 8 / col-end 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 0.4rem;
}
@media only screen and (max-width: 75em) {
  .footer__socials {
    margin: 0;
    padding-right: 2rem;
  }
}
@media only screen and (max-width: 75em) {
  .footer__socials--ig {
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__socials--ig {
    margin-left: 0;
  }
}
@media only screen and (max-width: 62.5em) {
  .footer__socials--fb {
    margin-right: 50%;
  }
}
.footer .footer__socials > a > img:hover {
  opacity: 0.5;
}
.gallery__photos > div img {
  max-width: 270px;
  max-height: 240px;
  object-fit: cover;
}

@media (max-width: 566px) {
  .gallery__photos > div img {
    max-width: 100%;
  }
}

.faq {
  background-color: rgba(180, 153, 96, 0.05);
  margin-bottom: 6.8rem;
}

.faq,
.regulamin {
  grid-column: full-start / full-end;
}

.faq__header {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.9rem;
  margin-bottom: 6.8rem;
  padding-top: 8rem;
  color: rgba(180, 153, 96, 0.99);
  text-align: center;
}

#accordion {
  width: 80%;
  margin: 0 auto 12rem auto;
}

.box-accordion {
  display: none;
  margin-top: 12px;
}

.box-accordion > p {
  margin-bottom: 8px;
}

.box-accordion > p > a {
  text-decoration: none;
  font-weight: 500;
  color: inherit;
}

.accordion_item {
  margin-bottom: 20px;
  color: rgba(180, 153, 96, 0.99);
}

.title-accordion {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.title-accordion:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.arrow {
  margin-right: 10px;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.turned {
  transform: rotate(-90deg);
  transition: transform 0.3s ease-in-out;
}

.regulamin {
  padding-bottom: 6.8rem;
  margin-bottom: 6.8rem;
}

.regulamin__inner {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .regulamin__inner,
  #accordion {
    width: 88%;
  }
}

.regulamin__inner > div,
.regulamin-text-expanded > div {
  margin-bottom: 20px;
  color: rgba(180, 153, 96, 0.99);
}

.regulamin__inner > div > p:first-child,
.regulamin-text-expanded > div > p:first-child {
  margin-top: 10px;
}

.regulamin__header {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.9rem;
  margin-bottom: 6.8rem;
  padding-top: 8rem;
  color: rgba(180, 153, 96, 0.99);
  text-align: center;
}

.regulamin-text-expanded {
  display: none;
}

.regulamin-btn-expand,
.regulamin-btn-less {
  float: right;
  margin-top: 40px;
  background-color: rgba(180, 153, 96, 0.05);
  opacity: 1;
  visibility: unset;
  padding: 9px 23px;
  font-size: 1em;
  border: 1px solid #b3995f;
  color: rgba(180, 153, 96, 0.99);
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.regulamin-btn-expand:hover,
.regulamin-btn-less:hover {
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
}

@media (max-width: 1300px) {
  .container {
    grid-template-rows: 9rem min-content 65rem min-content min-content min-content min-content min-content 6.4rem;
  }
}

.p-left-10 {
  padding-left: 15px;
  margin-bottom: 10px;
}

.kayak-link {
  margin: 3rem 0;
  display: block;
}

@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.backdrop {
  display: none;
}

.backdrop {
  animation-duration: 1s;
  animation-name: slideout;
}

.backdrop > svg {
  width: 200px;
  position: absolute;
  margin: auto;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backdrop.active {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: black;
  height: 100%;
  animation-duration: 0.5s;
  animation-name: slidein;
}

.line-break {
  margin: 0 5px;
}

.pl-button,
.en-button {
  background: none;
  border: none;
  color: rgba(180, 153, 96, 0.9);
  font-size: 18px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  transition: 0.2s ease-in-out;
}

.pl-button:hover,
.en-button:hover {
  transform: scale(0.9);
  transition: 0.3s ease-in-out;
}

.no-padding {
  padding: 0;
  margin-top: 2rem;
}

.no-padding .pl-button,
.no-padding .en-button {
  padding: 20px;
}

.no-padding .line-break {
  font-size: 1.6rem;
}
/* 
@keyframes slideup {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.header__nav,
#o_nas {
  animation: 1s slideup;
} */

.ham-about.mobile {
  display: block;
  position: relative;
  top: -250px;
}

/* #o_nas:before {
  display: block;
  content: ' ';
  margin-top: -285px;
  height: 285px;
  visibility: hidden;
} */

#o_nas_link {
  margin-top: -140px;
  padding-bottom: 140px;
  display: block;
}

#kontakt_link {
  margin-top: -140px;
  padding-bottom: 140px;
  display: block;
}

#galeria_link,
#faq_link {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

#regulamin_link {
  margin-top: -40px;
  padding-bottom: 40px;
  display: block;
}

@keyframes slideup {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slidedown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.slideupp {
  animation: 1s slideup;
}

.slidedownn {
  animation: 1s slidedown;
}
