.gallery {
    grid-column: full-start / full-end;
    background-color: $color-main-opacity;

    &__header {
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 3.9rem;
        color: $color-main;
        padding-top: 9.2rem;
        text-align: center;
        margin-bottom: 6.8rem;
    }
}

.gallery__container {
    display: grid;
    grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] 1fr [full-end];
    margin-bottom: 2rem;
}

.gallery__photos {
    grid-column: center-start / center-end;
    display: flex;
    flex-flow: row wrap;
    // display: -ms-flexbox;
    // -ms-flex-wrap: wrap;
    // -ms-flex-direction: column;
    // -webkit-flex-flow: row wrap; 
    // display: -webkit-box;
    padding: .5vw;
}

.gallery__photos > div {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto; 
    width: 280px; 
    margin: .5vw; 
}


.gallery__photos > div img { 
    width: 100%; 
    height: auto; 
    // margin: 0 3rem 3rem 0;
    padding: .3vw;

    @media only screen and (max-width: $bp-small){
        width: 90%;
        margin: 0 5% 3% 5%;
        padding: 0;
    }
}

.more_photos {
    grid-column: full-start / full-end;
    background-color: rgba(180, 153, 96, 0.05);
}

.button_more_wrap {
    grid-column: center-start / center-end;
    display: flex;
    justify-content: center;
}

.button_more_btn {
    font-size: 1.1em;
    color: #fff;
    border-radius: 3px;
    border: none;
    text-align: center;
    display: inline-block;
    -webkit-appearance: none;
    padding: 0.7rem 1.9rem;
    background-color: #B49960;
    margin-bottom: 5rem;
}

#seeMorePhotos {
    display: none;
}