:root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51, 0.85);
}

.header {
    grid-column: full-start / full-end;
    background: $color-head-foot;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14.5rem) [col-end]) [center-end] 1fr [full-end];
    align-items: center;

    &__wrapper {
        grid-column: center-start / center-end;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    // &__logo {
    //     grid-column: center-start / col-start 1;

    //     @media only screen and (max-width: $bp-largest){
    //         padding-left: 20%;
    //         width: 90%;
    //     }

    //     @media only screen and (max-width: $bp-medium){
    //         width: 22vw;
    //     }

    //     @media only screen and (max-width: $bp-small){
    //         width: 27vw;
    //         padding-left: 23%;
    //     }

    // }

    &__logo {
        padding: 0.5rem 2rem;
    }

    &__nav {
        @media only screen and (max-width: $bp-large){
            display: none;
        }

        & > ul {
            display: flex;
            list-style: none;
            color: $color-main;

            & > li {
                margin-right: 4rem;
                font-weight: 500;

                & > a {
                    color: inherit;
                    text-decoration: none;

                    & > img {
                        &:hover {
                            opacity: .5;
                        }
                    }
                }
            }
        }
    }

    // &__nav {
    //     grid-column: col-start 6 / full-end;
    //     margin: 0 auto 0 5.5rem;

        // & > ul {
        // display: flex;
        // list-style: none;
        // color: $color-main;
        // }

    //     & > ul > li {
    //         margin-right: 4rem;
    //         font-weight: 500;

    //         & > img {
    //             &:hover {
    //                 opacity: .5;
    //             }
    //         }

    //         & > a {
    //             position: relative;

    //             &::before {
    //                 content: '';
    //                 display: block;
    //                 height: 2px;
    //                 background: rgba($color-main, .9);
    //                 position: absolute;
    //                 top: -1rem;
    //                 left: 0;
    //                 right: 0;
    //                 transform: scale(0, 1);
    //                 transition: transform ease-in-out 250ms;
    //             }
    
    //             &:hover::before {
    //                 transform: scale(1,1);
    //             }
    //         }
    //     }

    //     & > ul * {
    //         color: $color-main;
    //         text-decoration: none;
    //         cursor: pointer;
    //     }

    //     & > a {

    //         &:hover {
    //             color: #000;
    //         }

    //         &::before {
    //             content: '';
    //             display: block;
    //             height: 2px;
    //             background: black;
    //             position: absolute;
    //             top: -1rem;
    //             left: 0;
    //             right: 0;
    //             transform: scale(0, 1);
    //             transition: transform ease-in-out 250ms;
    //         }

    //         &:hover::before {
    //             transform: scale(1,1);
    //         }
    //     }

    //     @media only screen and (max-width: $bp-largest){
    //         display: none;
    //     }


    // }
    
}



.hero {
    grid-column: full-start / full-end;
    position: relative;

    &__img {
        width: 100%;

        @media only screen and (max-width: $bp-medium){
            clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
        }
    }
}



///// MENU

.menu-wrap {
    position: fixed;
    top: 10px;
    right: 7vw;
    z-index: 1;

    @media only screen and (min-width: $bp-largest){
        display: none;
    }

    @media only screen and (max-width: $bp-large){
        right: 9vw;
    }

    @media only screen and (max-width: $bp-medium){
        right: 11vw;
    }

    @media only screen and (max-width: $bp-small){
        right: 19vw;
    }

    .toggler {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }

    .hamburger {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 60px;
        height: 60px;
        padding: 1rem;
        // background: $color-head-foot;
        display: flex;
        align-items: center;
        justify-content: center;

        & > div {
            position: relative;
            width: 80%;
            height: 2px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s ease;
        }

        & > div:before,
        & > div:after {
            content: '';
            position: absolute;
            z-index: 1;
            top: -10px;
            width: 100%;
            height: 2px;
            background: inherit;
        }

        & > div:after {
            top: 10px;
        }
    }
}

.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);

    &:before,
    &:after {
        top: 0;
        transform: rotate(90deg);
    }
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

// SHOW MENU
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;

    &:target {
        display: none;
    }

    & > div {
        transform: scale(1);
        transition-duration: $menu-speed;

        & > div {
            opacity: .8;
            transition: opacity 0.4s ease;
        }
    }
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    & > div {
        background: rgba(#000, .95);
        border-radius: 50%;
        width: 300vw;
        height: 300vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }

    & > div > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
        margin-top: -5rem;

        & > ul > li {
            list-style: none;
            color: $color-main;
            font-size: 2.5rem;
            padding: 2.4rem;
            font-weight: 600;

            & > a {
                color: inherit;
                text-decoration: none;
                transition: color 0.4s ease;
            }
        }
    }
}

.ham-socials {
    display: flex;
    justify-content: space-between;
}